{% extends 'base.html' %}
{% block title %}Search
    {% if "query" in request.GET %}
        {{ cd.query }}
    {% endif %}
{% endblock %}
{% block content %}
<div class="col-md-6">
    {% if "query" in request.GET %}
        <h1 class="page-title">Posty zawierajace "{{ cd.query }}"</h1>
        <h3>znaleziono {{ total_results }} wynik{{ total_results|pluralize:"i" }}</h3>
        {% for result in results %}
            {% with post=result.object %}
                <h4><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h4>
                {{ post.content|truncatewords_html:10 }}
            {% endwith %}
        {% empty %}
            <p>Brak wynikow dla podanego zapytania</p>
        {% endfor %}
    {% else %}
        <h1>Szukaj postow</h1>
        <form action="." method="get">
            {{ form.as_p }}
            <input type="submit" value="Szukaj">
        </form>
    {% endif %}
</div>
{% endblock content %}