{% load post_tags %}
<div class="row">
    <div class="col-sm-12">
        <div class="thumbnail">
            <header class="post-header">
                <h1 class="post-title"><a href="{{ post.get_absolute_url }}" rel="bookmark">{{ post.title }} </a></h1>
                <div class="post-meta">
                    Opublikowany {{ post.publish|timesince }} by {{ post.author }}
                    {% if post.updated > post.timestamp %}
                        <small><span class="post-updated">Aktualizacja: {{ post.updated|date:'d N Y H:i' }}</span></small>
                    {% endif %}
                </div>
            </header>
            <article>
                <div class="post-content">
                    {{ post.content| markdown2 | safe |truncatewords_html:30 }}
                    <a href="{{ post.get_absolute_url }}" class="more-link">View details »</a>
                </div>
                <div class="post-tags">
                    Tagi: {% tags_to_html_link post.tags %}
                </div>
                <div class="post-category">
                    Category: {% categories_to_html_link post.category %}
                </div>
            </article>
        </div>
    </div>
</div>